<html>
<head>
  <title>狼人杀法官助手</title>
</head>
<body>
  <h3>狼人杀法官助手</h3>
  {% for item in error %}
    <p style="color:red;">{{item}}</p>
  {% endfor %}
   <p style="color:red;">{{deth_people}}</p>
  <br>
  当前用户：{{ user|default:"nothing" }}
  <br><br>

  您的角色：{{ role | default:"nothing"}}
  <br><br>
  角色状态: {{role_status| default:"死亡"}}
  <br><br>
  游戏状态: {{game_status}}
  <br><br>
  房间中用户：{% for item in other_user %}
     {{item}}
  {% endfor %}
  <br><br>

  <form>
    {% block content %}
    {% endblock %}
  </form>
  <br><br>
  <input type="submit"  value="刷新" onclick="location.href='/phone/role/'">
</body>
</html>